<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="container">
      <h1>This is the New About Page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore itaque
        aperiam odio, cum quibusdam ad corporis alias molestiae nobis animi
        harum consectetur labore cumque enim tempore nostrum voluptates ex
        blanditiis atque sed corrupti. Ipsa cumque consequatur, deserunt
        suscipit dicta culpa praesentium similique atque assumenda numquam vero
        odio provident omnis repellendus!
      </p>
    </section>
  </body>
</html>
